<% content_for :title, "Editing verification request" %>

<h1>Editing verification request</h1>

<%= render "form", verification_request: @verification_request %>

<br>

<div>
  <%= link_to "Show this verification request", [:admins, @verification_request] %> |
  <%= link_to "Back to verification requests", admins_verification_requests_path %>
</div>
