<% content_for :title, "Editing bookmark" %>

<h1>Editing bookmark</h1>

<%= render "form", bookmark: @bookmark %>

<br>

<div>
  <%= link_to "Show this bookmark", [:users, @bookmark] %> |
  <%= link_to "Back to bookmarks", users_bookmarks_path %>
</div>
