<div class="p-16">
  <div class="max-w-sm w-full">
    <div class="uppercase font-bold text-3xl"><%= link_to "Insta", root_path %></div>
    <div class="text-7xl font-bold">Nothing to see here</div>
    <div>Looks like this page doesn't exist. Here's a picture of a poodle sitting in a chair for your trouble.</div>
    <div>Looking for this?</div>
  </div>
</div>
