<div id="<%= dom_id user %>">
  <div><%= user.username %> </div>
  <div class="flex items-center gap-2">
    <div><%= user.account.followers.size %> </div>
    <div><%= user.account.followings.size %> </div>
  </div>
</div>
