<%# locals: (title: , description: ) %>
<div class="flex flex-col items-center justify-center">
  <div class="text-2xl font-bold"><%= title %></div>
  <div class="text-neutral-500">
    <%= description %>
  </div>
</div>
