<div class="flex flex-row items-center justify-evenly">
  <div class="flex flex-col items-center justify-center">
    <div><%= current_account.followers_count %></div>
    <div>Followers</div>
  </div>
  <div>
    <div>Profile</div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div><%= current_account.followings_count %></div>
    <div>Following</div>
  </div>
</div>
<div>
  <div>Description</div>
</div>
<div class="flex flex-row items-center justify-evenly">
  <div>Edit Profile</div>
  <div>Statistics</div>
</div>
