<% content_for :title, "Editing issue" %>

<h1>Editing issue</h1>

<%= render "form", issue: @issue %>

<br>

<div>
  <%= link_to "Show this issue", @issue %> |
  <%= link_to "Back to issues", issues_path %>
</div>
